<div class="about-cont">
    
<div class="about">

<h1>About Us</h1>
<h2>{{content}}</h2>
<p>Buy and Sell properties here by creating a free acoount</p>
</div>
<img class="about-img" src="./images/aboutimg.jpg" alt="">

</div>