<section class="ban-section">
<div class="home-cont">
    <h2>TIME TO MEET YOUR</h2>
    <h1>NEW HOME</h1>
    <p>The Best {{title}} in Canada <br>
    Buying and Selling of land plots made easy</p>
    <img src="./images/icon.png" alt="">
</div>

<img class="ban-img" src="./images/ban-img.jpg" alt="banner image">
</section>