<h1>Add a new Property</h1>
<form method="post" class="form-ele">
    <fieldset>
        <label for="name" class="col-2">Name: </label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset>
        <label for="location" class="col-2">Loaction: </label>
        <input name="location" id="location" required />
    </fieldset>
    <fieldset>
        <label for="price" class="col-2">Price: </label>
        <input name="price" id="price" required />
    </fieldset>
    <fieldset>
        <label for="address" class="col-2">Address: </label>
        <textarea name="address" id="address"></textarea>
    </fieldset>
        <button class="btn btn-secondary">Save</button>
</form>
